.content
  %h1 CouchDb Views
  %p
    Thanks for installing Redback - we've automatically set up a database for you and associate views on your CouchDb install.
  %p
    Your installation should now be complete, please 
    %a{:href => '/'} continue to your site.