!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title 
      =$siteTitle
    %meta{'http-equiv' => "content-type", :content => "text/html; charset=utf-8"}
    %meta{:name => "language", :content => "english"}
    %meta{:name => "author", :content => $author}
    %link{:href => "/design/style/base.css?cdv=1", :rel => "stylesheet", :type => "text/css"}  
    %link{:href => "/design/theme/theme.css?cdv=1", :rel => "stylesheet", :type => "text/css"} 
    %link{:rel => "icon", :type => "image/png", :href => "/favicon.png"}
    %meta{:name => "description", :content => $siteDescription}
    %meta{:name => "keywords", :content => $siteKeywords}  

    /[if lte IE 8]
      :javascript 
        document.createElement("footer");document.createElement("header");
  %body
    .top
      .header
        %a.logo{:href => "/", :title => $siteTitle} 
          =$siteTitle
    .nav
      %ul
        %li
          %a{:href => "/"} Home
        - if authorized?
          %li
            %a{:href => "/wiki/new"} New Post
          %li
            %a{:href => "/admin"} Admin
          %li
            %a{:href => "/wiki/unpublished"} Unpublished Posts
          %li
            %a{:href => "/logout"} Logout
        .search
        %form{:action => "/search", :method => "get"}
          %p
            %input#medium{:alt => "Search", :id => "q", :type => "text", :value => ""}
            %input#submit{:type => "submit", :id => "search", :value => "Search"}
    .body
      =yield
    .footer
      %p
        Powered by 
        %a{:href => "https://github.com/andrewtobin/redback"} Redback 
        a Ruby port of the
        %a{:href => "http://www.funnelweblog.com"} FunnelWeb
        blog engine.
      %p
        Is this your blog? <a href="/login">Log in and update it</a>.
