.intro{:id => "_summary"}
  %p My name is Matt Hamilton, and I'm a software developer.
  %p It sounds like an admission rather than a declaration, doesn't it?
  %p I've been developing software professionally for over fifteen years, and yet it feels like every day I learn something that turns my world upside down and makes me doubt long-held beliefs.
  %p This site is somewhere I can share ideas and post code snippets that I find interesting. I hope you enjoy your stay.
  %p 
    I'm known almost everywhere online as "mabster". Follow me on 
    %a{:href => "http://twitter.com/mabster"} Twitter
    !
  %p
    %a{:href => "http://stackoverflow.com/users/615/matt-hamilton"}
    %img{:src => "http://stackoverflow.com/users/flair/615.png", :width => "208", :height => "58", :alt => "profile for Matt Hamilton at Stack Overflow, Q&amp;A for professional and enthusiast programmers", :title => "profile for Matt Hamilton at Stack Overflow, Q&amp;A for professional and enthusiast programmers"} 
.content
  %h1 Recent Posts
  .post-list
    .post-line.keyword-wishlist.keyword-language
      .revised
        %span.month Dec 9
        %span.year 2010
      .comments
        %a{:href => "/anonymous-interface-implementations#comments"}
          %span.comment-count 1
          %span comments
      .summary
        %h2
          %a{:href => "/anonymous-interface-implementations"} Anonymous Interface Implementations
        %p Another C# feature I&#39;d like to see.